server:
  port: 8083

swagger:
  path: v2/api-docs

documentation:
  swagger:
      services:
        -
          name: UserService
          url: ${userServiceUrl}/${swagger.path}
          version: 2.0
        -
          name: AuthenticationService
          url: ${authServiceUrl}/${swagger.path}
          version: 2.0
        -
          name: CateringUnitService
          url: ${cateringServiceUrl}/${swagger.path}
          version: 2.0
        -
          name: NotificationService
          url: ${notificationServiceUrl}/${swagger.path}
          version: 2.0
        -
          name: RatingService
          url: ${ratingServiceUrl}/${swagger.path}
          version: 2.0
        -
          name: StatisticService
          url: ${statisticServiceUrl}/${swagger.path}
          version: 2.0

logging:
  level:
    io.springfox: DEBUG